@import "node_modules/bootstrap/scss/bootstrap";
$primary-color: skyblue;
$secondary-color: lightblue;
.content {
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 20px;
}

.main {
    background-color: $primary-color;
    height: 90vh;
    width: 90vw;
    border-radius: 20px;    
    padding: 20px 0;
    display: grid;
    grid-template-columns: 80px 1fr;
    margin: 20px auto;
    max-width: 1500px;
    min-height: 720px;
    padding: 30px 0;
    box-shadow: 1px 1px 6px;

}
.container-fluid{
    .add-btn {
        height: 40px;
        width: 40px;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.navbar {
    border-radius: 5px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0;
    background-color: $secondary-color;
    .container-fluid {
        display: flex;
        justify-content: center;
        padding: 0;
        border-radius: 0 5px 5px 0;
    }
    .navbar-toggler{
        background-color: white;
    }
    .navbtn{
        font-family: 'Erica One', cursive;
        -webkit-text-stroke: 0.5px black;
        margin: 15px 0;
        font-size: 1em;
        border-radius: 5px;
        border: none;
        background-color: transparent;
        color: white;
    }

    .navbtn:hover {
        transform: scale(1.2);
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .letters {
        margin: 20px 0;
        font-family: 'Erica One', cursive;
        overflow: hidden;
        color: white;
        -webkit-text-stroke: 2px black;
        *{
            padding: 5px;
        }

        #t {
            font-size: 30px;
            transform: rotate(-15deg);
        }
        #o1 {
            font-size: 30px;
            transform: rotate(15deg);
        }
        #d {
            font-size: 30px;
            transform: rotate(-10deg);
        }
        #o2 {
            font-size: 30px;
            transform: rotate(10deg);
        }
        #exclaim {
            font-size: 30px;
            transform: rotate(10deg);
        }
    }
}
.add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 56px;
    background-color: white;
    border-radius: 5px;
    font-size: 2em;
    color: #0000008C;
    border-style: none;
    margin: 20px auto;
}
.tab-header {
    font-family: 'Erica One', cursive;
    letter-spacing: 1px;
    color: white;
    -webkit-text-stroke: 2px $primary-color;
    padding: 20px;
    border-radius: 5px 1px 1px 5px;
    background-color: $secondary-color;
    margin-left: 20px;
}

.list-item {
    background-color: white;
    border-radius: 5px 0 0 5px;
    padding: 16px 20px;
    margin: 10px 0 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .del-btn{
        margin-left: 5px;
    }
}
.list-item:hover {
    background-color: #eee;
}

.accordion {    

    .accordion-body{
        margin: 0;
        padding: 0;
    }
    
    .accordion-item {
        margin: 10px 0 10px 20px;
        border-radius: 5px 0 0 5px;
        
        .accordion-header>* {
            font-weight: bold;
        }

        .todo-div {
            display: grid;
            grid-template-columns: 4fr 2fr 2fr;
            input {
                border: none;
                border: solid 1px;
                border-radius: 5px;
                padding: 5px;
            }
        }
    }
}

.note-div{
    display: flex;
    p {
        margin: 0 10px;
    }
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .todo-title{
        margin: 20px;
    }
    .todo-date,
    label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        margin: auto;
    }
}