@import "node_modules/bootstrap/scss/bootstrap";
$primary-color: skyblue;
$secondary-color: lightblue;

.main {
    background-color: $primary-color;
    height: 90vh;
    width: 90vw;
    border-radius: 20px;    
    padding: 20px 0;
    display: grid;
    grid-template-columns: 80px 1fr;
    margin: 20px auto;
    max-width: 1500px;
    min-height: 750px;
    padding: 30px 0;
    box-shadow: 1px 1px 6px;
}

.navbar {
    border-radius: 5px;
    width: 80px;
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: $secondary-color;
    .container-fluid {
        display: flex;
        justify-content: center;
        max-width: 80px;
        padding: 15px 0;
        border-radius: 0 5px 5px 0;
    }
    .navbar-toggler{
        background-color: white;
    }
    .navbtn{
        margin: 20px;
        font-size: 1em;
        border-radius: 5px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .letters {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Erica One', cursive;
        overflow: hidden;
        color: white;
        -webkit-text-stroke: 2px black;
        *{
            padding: 5px;
        }

        #t {
            font-size: 35px;
            transform: rotate(-15deg);
        }
        #o1 {
            font-size: 35px;
            transform: rotate(15deg);
        }
        #d {
            font-size: 35px;
            transform: rotate(-10deg);
        }
        #o2 {
            font-size: 35px;
            transform: rotate(10deg);
        }
        #exclaim {
            font-size: 35px;
            transform: rotate(10deg);
        }
    }
    .add {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 56px;
        background-color: white;
        border-radius: 5px;
        font-size: 2em;
        color: #0000008C;
        border-style: none;
    }
}
.tab-header {
    font-family: 'Erica One', cursive;
    letter-spacing: 1px;
    color: white;
    -webkit-text-stroke: 2px $primary-color;
    padding: 20px;
    border-radius: 5px 1px 1px 5px;
    background-color: $secondary-color;
    margin-left: 20px;
}

.list-item {
    background-color: white;
    border-radius: 5px 0 0 5px;
    padding: 16px 20px;
    margin: 10px 0 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;}

.accordion {
    overflow: auto;
    
    .accordion-body{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .accordion-item {
        margin: 10px 0 10px 20px;
        border-radius: 5px 0 0 5px;
    }
}

.note-div{
    display: flex;
    p {
        margin: 0 10px;
    }
}

